.image-container{
    margin-left:6%;
    margin-right:6%;
    a{
        margin-right:4px;
        margin-top:4px;
        float:left;
        height:210px;
        width:338px;
        overflow:hidden;
        text-decoration:none;
    }
    a.img-chapter{
        display: block;
        background-color: #1a171a;
        text-align: center;
        text-decoration:initial;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        h2{
            font-size: 26px;
            display: block;
            padding-top: 26%;
            line-height: 26px;
            color: white;
            text-decoration: none;
            span{
                font-size: 16px;
                display: block;
                font-style:italic;
            }
        }
    }
    a.img-chapter:hover{
        background-color:#000000;
    }
    a.img-image{
        background: #fff url(img/thumb_bg.jpg) no-repeat center center;
        background-size:120% 120%;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        img{
            height:210px;
            width:338px;
            opacity:0.95;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        } 
    }
    a.img-image:hover{
        background-size:100% 100%;
        img{
            opacity:0.8;
        }
    }
    a.img-image.loading{
        background-size:130% 130%;
        background: #fff url(img/bilder-ajax.gif) no-repeat center center;
        span{
            display:none;
        }
        img{
            opacity:0.8;
        }
    }
    a.img-image > span{
        display: block;
        width: 100%;
        position:relative;
        height: 20px;
        line-height: 22px;
        text-align: center;
        font-size: 11px;
        bottom: 0px;
        left: 0px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.8); 
        font-size:16px;
        color:white;
        text-decoration:initial;
    }
    a.img-image:hover > span{
        bottom:24px;
    }
}

.space{
    height: 100px;
    position: absolute;
    bottom: -100px;
    width: 100%;
}

.image-viewer{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 25px;
    overflow: hidden;
    img{
        display: block;
        max-height: 100%; 
        top:0; bottom:0;
        left:0; right:0;
        margin:auto;
        position:absolute;
        z-index:2;
        max-width:80%;
    }
    .opacity{
        position:absolute;
        width:100%;
        height:100%;
        z-index:1;
        background:#1a171a;
        opacity:0.97;
    }
    .bar{
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #1a171a;
        height: 90px;
        z-index: 3;
        transition: all 0.3s linear 0s;
        -webkit-transition: all 0.3s linear 0s;
        #image-title{
            position: relative;
            display: block;
            left: 6%;
            color: white;
            line-height: 75px;
            font-size: 36px;
        }
        #chapter-info{
            position:relative;
            color:white;
            display:block;
            left:6%;
            bottom:20px;
        }
        #chapter-name-main{
            text-transform: uppercase;
            font-weight:bold;
        }
        #chapter-name{
            font-style:oblique;
        }
        #chapter-progress{

        }
    }
    .fade{
        opacity: 0;
        bottom: -75px;
    }
}
.cross{
    position:absolute;
    display:block;
    top:10px;
    right:10px;
    width:34px;
    height:34px;
    z-index:1000;
    cursor:pointer;
}

.nodisplay{
    display:none;
}

.arrleft, .arrright{
    display:block;
    position:fixed;
    top:0;
    bottom:0;
    margin:auto;
    color:white;
    z-index:2;
    height: 100px;
    width: 60px;
}
.arrleft{
    left:3%;
    background: url(/img/arr_left.png) center center;
}
.arrright{
    right:3%;
    background: url(/img/arr_right.png) center center;
}

.arrow-inactive{
    opacity:0.3;
    pointer-events:none;
}

.chapter-info-inline{
    width: 50%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    background: #1a171a;
    color:white;
    h1{
        padding:50px;
        font-size:2em;
    }
    p{
        padding:150px 50px 50px 50px;
    }
    .chapter-info-inline-box{
        width: 338px;
        height: 210px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align:center;
        .chapter-info-inline-title{
            font-size:26px;
            line-height:26px;
            display:block;
        }
        .chapter-info-inline-sub{
            font-size:16px;
            font-style:italic;
        }
    }
}