// general.less, for rules present on all child pages

body {
    //font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-family: "Exo 2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

b {
    font-weight:bold;
}

#scrolledcontentoff{
    position:relative;
    margin-top:15%;
}

.link-cursor{
    cursor:pointer;
}

#loading-screen{
    top: 50px;
    bottom: 25px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4;
    opacity: 0.8;
    background: black;
    display:none;
}

.contentoffset{
    position:absolute;
    margin-top:5%;
    width:100%;
    top:50px;
}

.content-viewer{
    position: fixed;
    display: block;
    left: 80px;
    top: 170px;
    z-index: 5;
    height: 100%;
    background: #1a171a;
    color: white;
    padding: 30px 50px 0 50px;
    h1{
        font-size:50px;
    }
    h2{
        font-size: 30px;
        font-style: italic;
        position: relative;
        top: -10px;
    }
    #ccnt{
        border-top: 1px solid #333;
        padding-top: 25px;
    }
}

#subpage-header{
    text-align: center;
    //font-family: "Exo 2";
    font-size: 3em;
    color: white;
    //display:table-row;
    font-weight:bold;
}
.withtable{
    display:table-row;
}
.withspace{
    margin-bottom:10px;
}
.allcnt{
    position:relative;
    left:6%;
    /* 100 - 12*/
    width:88%;
    /* Align at header */
    margin-top:50px;
    /* Offset from header to content */
    top:15%;
}

.m10{
    margin-top:10px;
}

.deadcenter{
    // Center an Object inside the outer container.
    position:absolute;
    top:0; left:0;
    right:0; bottom:0;
    margin:auto;
}

.defaultdimension{
    // Dimension used everywhere. 6%-88%-6%
    width:88%;
    height:80%;
}

// BACKGROUNDS

#bg{
    position: fixed;
    top: 50px; left: 0;
    right: 0; bottom: 0;
    z-index: -5;
    display: block;
    img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        width:auto;
        height:auto;
    }
}

#blurbg{
    position: fixed;
    width: 100%;
    display: block;
    z-index: -5;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.default-y{
    position:absolute;
    top:100px;
}

// HEADER
.header{
    color:white;
    background-color:@black;
    height:50px;
    width:100%;
    z-index:200;
    a {
        text-decoration:none;
        color:white;
    }
    #header-up{
        img {
            height: 50px;
            display:none;
            float: left;
            position: static;
            margin-left: 2%;
        }
    }
    .imgcontainer{
        position:absolute;
        top:0;
        left:2px;
        width:50px;
        height:50px;
    }
    img {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:auto;
    }
    .ctitle{
        margin-left:6%;
        color:white;
        font-size:1.8em;
        line-height:50px;
        float:left;
        white-space:nowrap;
        font-weight:normal;
    }
    .header-nav{
        white-space:nowrap;
        font-size:1.5em;
        line-height:50px;
        color:white;
        float:right;
        position:relative;
        right:6%;
        background:#1a171a;
        img {
            top: 47px;
            width: 0;
            height: 10px;
            margin:0;
            z-index:-1;
        }
        a {
            position:relative;
            background-color:@black;
            padding:10px;
        }
    }
    .header-nav-dropdown{
        position: absolute;
        top: -200px;
        right: 30px;
        width: 200px;
        background: #1a171a;
        opacity: 0.8;
        padding:10px;
        transition: all 0.1s linear 0s;
        z-index:-1;
    }
    .header-nav-dropdown li{
        font-size:1.5em;
        padding-bottom:5px;
    }

    .header-nav-dropdown-icon{
        position: absolute;
        top: 0;
        right: 30px;
        line-height: 50px;
        font-size: 10px;
    }

    #loading-img{
        visibility:hidden;
    }
}

#hMain{
    position:fixed;
    top:0;
}


// FOOTER
#footer {
    img{
        height:25px;
    }
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    line-height: 24px;
    font-size: 12px;
    z-index: 20;
    background:@black;
    color:white;
}

#footer a {
    text-decoration:none;
    color:white;
}

#startst {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
}

#feedback{
    padding-right:30px;
}

.v-top{
    vertical-align:top;
}

.footer-right{
    color: white;
    float: right;
    position: relative;
    right: 6%;
}

#infoarea{
    height:305px;
    text-align:initial;
    line-height:initial;
    background-color:black;
    opacity:0.95;
    img{
        height:initial;
    }
}

.infouberuns{
    position:absolute;
    left:6%;
    width:400px;
}
.infouberuns h1{
    font-weight: 900;
    font-size: xx-large;
}
.infouberuns p{
    font-size:larger;
}

.infocontent{
    padding: 30px 0 30px 0;
}

.footer-left{
    color:white;
    float:left;
    position:relative;
    left:6%;
}

// SCROLLING
.scrolled{
    position:absolute;
    width:100%;
    top:0;
    min-height:100%;
}

#result{
    display:none;
}

#scrollcnt{
    top:0;
}

