.tilecontainer{
    left: 6%;
    position: absolute;
    margin-top:13%;
    right: 6%;
}

.hoveroverlay{
    margin-right:0 !important;
    background-color:black;
    opacity:0;
}

.tileov{
    width:100%;
    height:100%;
    position:absolute;
}

.tile-column{
    /*margin-top:10px;*/
    white-space:nowrap;
}

.stdtile {
    display: inline-block;
    position: relative;
    width: 20%;
}

#bigtile1{
    /*display:inline-block;*/
    position:relative;
    width:40%;
    float:right;
    margin:0 0 auto auto;
}

.tile-scaling {
    /* Seitenverhältnis 1:phi */
    margin-top: 61.8%;
}
.addmargin{
    height:13px;
}
             
.tile-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right:10px;
    a {
        text-decoration:none;
        height:100%;
        width:100%;
        display:block;
    }
    img {
        height:100%;
        width:auto;
        display:block;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        top:0;
    }
}

.bigtile-content{
    margin-right:0;
    margin-left:13px;
    a {
        display:block;
        width:100%;
        height:100%;
    }
}
