.presse-frame{
    width: 94%;
    position: absolute;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 6%;
    height: 600px;
    margin: auto;
}

.artikel-container{
    height:100%;
    position:relative;
    background: #fff;
    display:block;
}

.presse-frame .slidee { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    list-style: none; 
}
.presse-frame .slidee li {
    float: left;
    margin: 0 50px 0 0; 
    padding: 0; 
    width: 750px; 
    height: 100%;
}
.presse-frame .slidee li img {
    width: 750px;
    height: auto;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
