.presse-container{
    margin-left:6%;
    margin-right:6%;
    width:88%;
    a.img-presse{
        margin-right:10px;
        margin-top:10px;
        float:left;
        height:420px;
        width:676px;
        overflow:hidden;
        text-decoration:none;
        background-color:white;
        position:relative;
        span{
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            height: 100px;
            background-color: #1a171a;
            padding-left: 20px;
            transition: background-color 0.2s linear 0s;
            -webkit-transition: background-color 0.2s linear 0s;
            h1 {
                font-size:1.9em;
                margin-right:20px;
            }
        }
    }
    a:hover span{
        background-color:black;
    }
    
}
