.width-shop{
    width:1050px;
}

.tile-shop{
    width:500px;
}

.product-image{
	height:220px;
	background-color:#444444;
	margin-top:20px;
}

.tile-shop p.shop-description{
	top:300px;
	.price{
		font-weight:bold;
	}
}

#cdcontent{
	position: absolute;
	width: 910px;
	height: 350px;	
	.cdleft{
		position: relative;
		width: 60%;
		height: 100%;
		float: left;
		background-color: green;
	}
	.cdright{
		position: relative;
		width: 40%;
		height: 100%;
		float: right;
		background-color: blue;
	}
}