.tile-shop{
    width:490px;
    p{
    	bottom:50px;
    	margin-right:20px;
    	overflow-y:auto;
    	margin-left: 20px;
    	padding: 0;
    	padding-right:5px;
    }
}

.abs-shop{
	width:1000px;
}

.product-image{
	height:220px;
	background-color:#444444;
	margin-top:20px;
}

.tile-shop p.shop-description{
	top:300px;
	.price{
		font-weight:bold;
	}
}

#cdcontent{
	position: absolute;
	width: 910px;
	height: 350px;	
	.cdleft{
		position: absolute;
		width: 60%;
		height: 100%;
		float: left;
		.wrapping{
			display:block;
			width: 328px;
			height: 209px;
			position: absolute;
			top: 0;
			margin: auto;
			bottom: 50px;
			left: 0;
			right: 0;
			background-image: url(/1920/903/5/tile);
			img{
				height: 100%;
				width: auto;
				display: block;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				top: 0;
			}
			span{
				width: 100%;
				display: block;
				text-align: center;
				margin-top: 20px;
				font-size: 1.5em;
			}
		}
		.wrapping:hover{
			opacity:0.5;
		}
	}
	.cdright{
		position: relative;
		width: 40%;
		height: 100%;
		float: right;
		ol{
			list-style:decimal;
			font-size:smaller;
			max-height:170px;
			overflow:auto;
			padding-left:30px;
			#composer{
				font-style:italic;	
			}
		}
		h2{
			font-size: larger;
			padding-top: 10px;
		}
		h1{
			font-size: medium;
		}
		p {
			font-size: smaller;
		}
		#interessetext{
			margin-top: 10px;
			display: block;
		}
	}
}