.stiftung-sidebar{
    width:350px;
    height:100%;
    float:left;
    a {
        display:block;
        height:50%;
        width:350px;
        margin-bottom:10px;
        background:#1a171a;
        position:relative;
        img{
            height:auto;
            max-height:80%;
            margin-left:35px;
            margin-top:20px;
            .deadcenter;
            width:100%;
        }
    }
}

.stiftung-cnt{
    max-height:650px;
    height:100%;
}

.stiftung-main-area{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 360px;
    right: 0;
    margin: auto;
    background:#1a171a;
    color:white;
    padding:20px;
    h1 {
        font-size:3em;
    }
    p {
        padding-right:5px;
        width:50%;
        text-align:justify;
        margin-top:10px;
        overflow:auto;
        position:absolute;
        bottom:15px;
        top:90px;
    }
}

.img-center{
}
