#uberuns-cnt{
    display:table-row;
    height:100%;
    .main-area{
        img{
            max-width:96%;
            max-height:96%;
            margin:2%;
        }
        margin-top:10px;
        width:75%;
        float:left;
        position:relative;
        height:100%;
        text-align:center;
    }

    .side-area{
        margin-top:10px;
        width:25%;
        float:right;
        position:relative;
        height:100%;
        .side-margin{
            margin-left: 10px;
            position: absolute;
            height: 100%;
            width: 100%;
            // todo table row
            overflow:hidden;
            .icon-container{
                display:block;
                width:100%;
                height:33%;
                position:relative;
                // todo table-row
                margin-bottom:10px;
                background-color:coral;
                img{
                    position:absolute;
                    left:0; right:0;
                    top:0; bottom:0;
                    margin:auto;
                }
            }
        }
    }
}

.hoveroverlay:hover{
    opacity:0.8;
}

.wrapper{
    display:table;
    height:100%;
    width:100%;
}

.testblock{
    height:100%;
    background:url(img/marc-0.jpg) no-repeat center center;
}

.hiddentext{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background-color:@black;
    color:white;
}

// versteckte fragmente
#prettymargin{
    margin: 100px 0 0 50px;
    text-align:initial;
}
#bitches{
    font-size: 3em;
}

#sogeil{
    font-size: 2.5em;
}

#kapla{
    font-size:4em;
    margin-left:50px;
}

#kaplanist{
    font-size:2em;
    margin-left:50px;
}

#machmit{
    position:absolute;
    bottom:40px;
    width:100%;
    font-size:5em;
    font-weight:bold;
}

.reise{
    height:600px;
    width:1500px;
}

#uberuns-cnt #reise-onleft{
    position:fixed;
    left:-60px;
    height:75.5%;
}

.reise-gridcontainer{
    height:100%;
}

#uberuns-cnt #width-reise{
    width:100px;
}

.reise-tile{
    height: 50%;
    width: 32%;
    float: left;
    background: #1a171a;
    margin-left: 10px;
    margin-top: 10px;
    position:relative;
}
.text{
    .padding{
        padding:10px 10px 0 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    color:white;
    h1{
        font-size:40px;
        padding-bottom:3px;
    }
    p {
        position:absolute;
        top:65px; bottom:0;
        overflow-y:auto;
        border-top: 1px solid #333;
        padding-top:5px;
    }
}
.image{
    background: url("/images/real/1") center center;
}
#map{
    position:absolute;
    right:0; top:0;
    height:100%;
    width:100%;
}

.tlbody{

}

.leftarr{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 10px;
    padding-left: 10px;
}

.rightarr{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto;
    padding-right: 10px;
}

.greyed{
    color:#333;
}

.timeline{
    background: url("/img/moskau.jpg") center center;
    .linkcnt{
        display:block;
        height:100%;
        width:100%;
    }
    h1{
       color: white;
       position: absolute;
       left: 0;
       right: 0;
       margin: auto;
       text-align: center;
       padding-top: 10px; 
       text-shadow:1px 0px 2px rgba(0,0,0,0.8);
       span.reise-name{
           font-size:40px;
       }
       span.current-reise{
           color:coral; 
       }
    }
}

.reise-tile .person{
    width:70%;
    height:100%;
    float:left;
}

.reise-tile .desc{

}

.current-reise{

}
