body {
  font-family: "Exo 2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
b {
  font-weight: bold;
}
#scrolledcontentoff {
  position: relative;
  margin-top: 15%;
}
#loading-screen {
  top: 50px;
  bottom: 25px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 4;
  opacity: 0.8;
  background: black;
  display: none;
}
.contentoffset {
  position: absolute;
  margin-top: 5%;
  width: 100%;
  top: 50px;
}
.allcnt {
  position: relative;
  left: 6%;
  /* 100 - 12*/
  width: 88%;
  /* Align at header */
  margin-top: 50px;
  /* Offset from header to content */
  top: 15%;
}
.m10 {
  margin-top: 10px;
}
.deadcenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.defaultdimension {
  width: 88%;
  height: 80%;
}
#bg {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  display: block;
}
#bg img {
  display: block;
  width: 100%;
  height: 100%;
}
#blurbg {
  position: fixed;
  width: 100%;
  display: block;
  z-index: -5;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
#blurbg img {
  display: block;
  width: 100%;
  height: 100%;
}
.default-y {
  position: absolute;
  top: 150px;
}
.header {
  color: white;
  background-color: #1a171a;
  height: 50px;
  width: 100%;
  z-index: 200;
}
.header a {
  text-decoration: none;
  color: white;
}
.header #header-up img {
  height: 50px;
  display: none;
  float: left;
  position: static;
  margin-left: 2%;
}
.header .imgcontainer {
  position: absolute;
  top: 0;
  left: 2px;
  width: 50px;
  height: 50px;
}
.header img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.header .ctitle {
  margin-left: 6%;
  color: white;
  font-size: 1.8em;
  line-height: 50px;
  float: left;
  white-space: nowrap;
  font-weight: normal;
}
.header .header-nav {
  white-space: nowrap;
  font-size: 1.5em;
  line-height: 50px;
  color: white;
  float: right;
  position: relative;
  right: 6%;
}
.header .header-nav img {
  top: 47px;
  width: 0;
  height: 10px;
  margin: 0;
  z-index: -1;
}
.header .header-nav a {
  position: relative;
  background-color: #1a171a;
  border: 10px solid #1a171a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.header #loading-img {
  visibility: hidden;
}
#hMain {
  position: fixed;
  top: 0;
}
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  line-height: 24px;
  font-size: 12px;
  z-index: 20;
  background: #1a171a;
  color: white;
}
#footer img {
  height: 25px;
}
#footer a {
  text-decoration: none;
  color: white;
}
#startst {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
}
#feedback {
  padding-right: 30px;
}
.v-top {
  vertical-align: top;
}
.footer-right {
  color: white;
  float: right;
  position: relative;
  right: 6%;
}
#infoarea {
  height: 305px;
  text-align: initial;
  line-height: initial;
  background-color: black;
  opacity: 0.95;
}
#infoarea img {
  height: initial;
}
.infouberuns {
  position: absolute;
  left: 6%;
  width: 400px;
}
.infouberuns h1 {
  font-weight: 900;
  font-size: xx-large;
}
.infouberuns p {
  font-size: larger;
}
.infocontent {
  padding: 30px 0 30px 0;
}
.footer-left {
  color: white;
  float: left;
  position: relative;
  left: 6%;
}
.scrolled {
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 100%;
}
#result {
  display: none;
}
#scrollcnt {
  top: 0;
}
.tilecontainer {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 88%;
  height: 40%;
}
.hoveroverlay {
  margin-right: 0 !important;
  background-color: black;
  opacity: 0;
}
.tileov {
  width: 100%;
  height: 100%;
  position: absolute;
}
.tile-column {
  /*margin-top:10px;*/
  white-space: nowrap;
}
.stdtile {
  display: inline-block;
  position: relative;
  width: 20%;
  float: left;
}
#bigtile1 {
  /*display:inline-block;*/
  position: relative;
  width: 40%;
  float: right;
  margin: 0 0 auto auto;
}
.tile-scaling {
  /* Seitenverhältnis 1:phi */
  margin-top: 61.8%;
}
.addmargin {
  height: 10px;
}
.tile-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 10px;
}
.tile-content a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
}
.tile-content img {
  height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}
.bigtile-content {
  margin-right: 0;
}
.bigtile-content a {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1177px) and (min-width: 940px) {
  .stdtile {
    width: 275px;
  }
  .smalltiles {
    position: absolute;
    max-width: 825px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #bigtile1 {
    position: absolute;
    top: 363px;
    width: 40%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .header .ctitle {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .header-nav {
    display: none;
  }
}
@media screen and (max-width: 940px) {
  .stdtile {
    width: 275px;
  }
  .smalltiles {
    position: absolute;
    max-width: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #bigtile1 {
    position: absolute;
    top: 544px;
    width: 400px;
    left: 0;
    right: 70px;
    margin: auto;
  }
  .header .ctitle {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .header-nav {
    display: none;
  }
  #tile-presse {
    margin-top: 10px;
  }
}
.image-container {
  margin-left: 6%;
  margin-right: 6%;
  width: 88%;
}
.image-container a {
  margin-right: 4px;
  margin-top: 4px;
  float: left;
  height: 210px;
  width: 210px;
  overflow: hidden;
  text-decoration: none;
}
.image-container a.img-chapter {
  display: block;
  background-color: #1a171a;
  text-align: center;
  text-decoration: initial;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.image-container a.img-chapter h2 {
  font-size: 26px;
  display: block;
  padding-top: 40%;
  line-height: 26px;
  color: white;
  text-decoration: none;
}
.image-container a.img-chapter h2 span {
  font-size: 16px;
  display: block;
  font-style: italic;
}
.image-container a.img-chapter:hover {
  background-color: #000000;
}
.image-container a.img-image {
  background: #ffffff url(img/thumb_bg.jpg) no-repeat center center;
  background-size: 110% 110%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.image-container a.img-image img {
  height: 210px;
  width: 210px;
  opacity: 0.95;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.image-container a.img-image:hover {
  background-size: 100% 100%;
}
.image-container a.img-image:hover img {
  opacity: 0.8;
}
.image-container a.img-image.loading {
  background-size: 130% 130%;
  background: #ffffff url(img/bilder-ajax.gif) no-repeat center center;
}
.image-container a.img-image.loading span {
  display: none;
}
.image-container a.img-image.loading img {
  opacity: 0.8;
}
.image-container a.img-image > span {
  display: block;
  width: 100%;
  position: relative;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 11px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 16px;
  color: white;
  text-decoration: initial;
}
.image-container a.img-image:hover > span {
  bottom: 24px;
}
.space {
  height: 100px;
  position: absolute;
  bottom: -100px;
  width: 100%;
}
#uberuns-header {
  text-align: center;
  font-size: 3em;
  color: white;
  display: table-row;
  font-weight: bold;
}
#uberuns-cnt {
  display: table-row;
  height: 100%;
}
#uberuns-cnt .main-area {
  margin-top: 10px;
  width: 75%;
  float: left;
  position: relative;
  height: 100%;
  text-align: center;
}
#uberuns-cnt .main-area img {
  max-width: 96%;
  max-height: 96%;
  margin: 2%;
}
#uberuns-cnt .side-area {
  margin-top: 10px;
  width: 25%;
  float: right;
  position: relative;
  height: 100%;
}
#uberuns-cnt .side-area .side-margin {
  margin-left: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#uberuns-cnt .side-area .side-margin .icon-container {
  width: 100%;
  height: 33%;
  position: relative;
  margin-bottom: 10px;
  background-color: coral;
}
#uberuns-cnt .side-area .side-margin .icon-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.testblock {
  height: 100%;
  background: url(img/marc-0.jpg) no-repeat center center;
}
.hiddentext {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: #1a171a;
  color: white;
}
#prettymargin {
  margin: 100px 0 0 50px;
  text-align: initial;
}
#bitches {
  font-size: 3em;
}
#sogeil {
  font-size: 2.5em;
}
#kapla {
  font-size: 4em;
  margin-left: 50px;
}
#kaplanist {
  font-size: 2em;
  margin-left: 50px;
}
#machmit {
  position: absolute;
  bottom: 40px;
  width: 100%;
  font-size: 5em;
  font-weight: bold;
}
