<!DOCTYPE html>
<html lang="de-de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=645,initial-scale=0.5">
<title>Chorknaben Biberach</title>
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="reset.css" />
<link rel="stylesheet" type="text/css" href="general.css" />
<link rel="Shortcut Icon" href="img/favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Exo+2:300,700,900' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="code/jqcol.js" async defer></script>
<script type="text/javascript" src="code/jquery.morecustoms.js" async defer></script>
<script type="text/javascript" src="code/jquery.scrollTo.min.js" async defer></script>

<script type="text/javascript" src="code/clndr.js" async defer></script>
<script type="text/javascript" src="code/moment.min.js" async defer></script>
<script type="text/javascript" src="code/underscore.js" async defer></script>

<script type="text/javascript" src="code/tilec.js"></script>
<script type="text/javascript" src="code/core.js"></script>
</head>

<body>
<div id="bg"></div>
<div class="header" id="hMain">
    <div class="imgcontainer">
        <a href="#!/">
            <img id="header-img" src="img/chor.jpg"/>
        </a>
    </div>
    <a class="ctitle" href="#!/">
        St.-Martins-Chorknaben Biberach
    </a>
    <div id="header-up">
        <img src="img/testnavup.svg" alt="Nach Oben" />
    </div>
    <div class="header-nav">
        <a href="#!/uberuns">&Uuml;ber uns</a>
        <a href="#!/stiftung">Stiftung</a>
        <a href="#!/presse">Presse</a>
        <a href="#!/musik">Musik</a>
        <a href="#!/bilder">Bilder</a>
    </div>
    <div class="header-nav-dropdown-icon">Down</div>
    <ul class="header-nav-dropdown">
        <li><a href="#!/shop">Shop</a></li>
        <li><a href="#!/kalender">Kalender</a></li>
        <li><a href="#!/unterstutzen">Unterst&uuml;tzen</a></li>
        <li><a href="#!/news">News</a></li>
    </ul>
</div>
<div id="loading-screen"></div>
<div class="tilecontainer">
    <div class="x-3" id="bigtile1">
        <div class="tile-scaling addmargin"></div>
        <div class="tile-content bigtile-content" id="7" >
            <a id="link-bilder" href="#!/bilder">
            <img src="/images/real/2" alt="zur bilder seite"/>
            <div class="hoveroverlay tileov"></div>
            </a>
        </div>
    </div>
    
    <!--<div class="tile-column">-->
    <div class="smalltiles">
        <div class="stdtile x-0">
            <div class="tile-scaling"></div>
            <div id="1" class="tile-content" >
                <a href="#!/uberuns">
                <div class="hoveroverlay tileov"></div>
                <img src="img/ueber_uns.svg" alt="&Uuml;ber uns"/></a>
                <!-- Inhalt -->
            </div>
        </div>
        <div class="stdtile x-1">
            <div class="tile-scaling"></div>
            <div id="2" class="tile-content">
                <a href="#!/stiftung">
                <div class="hoveroverlay tileov"></div>
                <img src="img/stiftung.svg" alt="Stiftung"/></a>
                </a>    
                <!-- Inhalt -->
            </div>
        </div>
        <div id="tile-presse" class="stdtile x-2">
            <div class="tile-scaling"></div>
            <div id="3" class="tile-content" >
                <a href="#!/presse">
                    <div class="hoveroverlay tileov"></div>
                    <img src="img/presse.svg" alt="Presse" />
                </a>    
            </div>
        </div>
    <!--</div>-->
    <!--<div class="tile-column m10">-->
        <div class="stdtile m10 x-0">
            <div class="tile-scaling"></div>
            <div id="4" class="tile-content">
                <a href="#!/musik">
                    <div class="hoveroverlay tileov"></div>
                    <img src="img/musik.svg" alt="Musik" />
                </a>
            </div>
        </div>
        <div class="stdtile m10 x-1">
            <div class="tile-scaling"></div>
            <div id="5" class="tile-content">
                <a href="#!/shop">
                    <div class="hoveroverlay tileov"></div>
                    <img src="img/shop.svg" alt="Shop" />
                </a>
            </div>
        </div>
        <div class="stdtile m10 x-2">
            <div class="tile-scaling"></div>
            <div id="6" class="tile-content">
                <a href="#!/kalender">
                    <div class="hoveroverlay tileov"></div>
                    <img src="img/kalender.svg" alt="Kalender" />
                </a>
            </div>
        </div>
        <a href="#!/unterstutzen" class="bottomtile left">
            <div class="placaca">
                <div class="bottomcontentoffset">
                    Wir k&ouml;nnten Ihre Unterst&uuml;tzung brauchen.
                </div>
            </div>
        </a>
        <a class="bottomtile right">
            <p>+++ Erstes Konzert auf dem Mond gegl&uuml;ckt +++</p> 
        </a>
    </div>
    <!--</div>-->
</div>
</div>
<div id="result"></div>
<div id="footer">
    <div class="footer-left">
        <a href="#!/">
            <span class="v-top">SITEMAP</span>
        </a>
    </div>
    <div class="footer-right">
        <a id="btnimpressum" class="v-top" href="#!/impressum"><b>FEEDBACK UND IMPRESSUM</b></a>
    </div>
    <a id="startst" href="#!/">STARTSEITE</a>
    <div id="infoarea">
        <div class="infocontent">
            <div class="infouberuns">
                <h1>&Uuml;ber uns</h1>
                <p>Bacon ipsum dolor sit amet ex culpa et quis bacon bresaola anim mollit. Ham laboris fugiat filet mignon sirloin, spare ribs corned beef andouille nulla sint excepteur drumstick jerky. Duis consequat ham hock et fatback prosciutto venison meatloaf. Pork ullamco ball tip esse cow tri-tip shoulder do exercitation jowl. Tongue fatback pig, id kevin andouille frankfurter in corned beef capicola.</p>
            </div>
            <div class="infositemap">
                <h1>Sitemap</h1>
                <ul>
                    <li><a href="#!/uberuns">&Uuml;ber uns</a></li>
                    <li><a href="#!/uberuns/reise">&Uuml;ber uns - Konzertreise</a></li>
                    <li><a href="#!/uberuns/team">&Uuml;ber uns - Team</a></li>
                    <li><a href="#!/uberuns/timeline">&Uuml;ber uns - Chorgeschichte</a></li>
                    <li><a href="#!/stiftung">Stiftung</a></li>
                    <li><a href="#!/presse">Presse</a></li>
                    <li><a href="#!/musik">Musik</a></li>
                    <li><a href="#!/unterstutzen">Unterst&uuml;tzen</a></li>
                    <li><a href="#!/shop">Shop</a></li>
                    <li><a href="#!/bilder">Bilder</a></li>
                    <li><a href="#!/impressum">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="feedback" class="nodisplay">
        <h1>Impressum</h1>
        <div class="impressum">
            <p>
            Bacon ipsum dolor sit amet kielbasa incididunt deserunt ad, pork chop pork drumstick eu beef ribs landjaeger. Pork belly pancetta irure frankfurter boudin, sint dolore id strip steak pig ad veniam adipisicing elit beef. Pariatur ea tempor doner andouille ham in proident. Ham hock et pariatur drumstick doner, qui dolor meatball cillum shoulder anim consectetur. Pastrami short loin shankle ut. Anim enim brisket non. Pastrami excepteur ad sausage.</br>

T-bone rump drumstick brisket officia nisi spare ribs. Ribeye nostrud non ut ground round, dolore beef ribs. Ex velit ball tip commodo qui est drumstick, sint pancetta short loin sunt ullamco elit. Exercitation t-bone landjaeger tenderloin, veniam cupidatat sirloin cow kevin pig nostrud fugiat biltong. Ut dolore irure anim in eu meatloaf commodo ut labore. Commodo proident pork loin t-bone veniam kevin non dolore brisket strip steak in excepteur prosciutto ut salami. Non nostrud laboris spare ribs shoulder flank tempor t-bone pastrami.

Labore porchetta dolore fugiat, tri-tip id sausage. Kielbasa quis andouille nostrud short loin, turducken elit pancetta turkey enim est ribeye non in. Doner rump exercitation beef ribs. Eiusmod sausage dolore tail. Shoulder occaecat magna fatback capicola in, filet mignon frankfurter short ribs ex ut pariatur.

Prosciutto in shankle aliquip culpa short ribs tongue boudin. Venison minim dolore, rump exercitation est sunt in labore corned beef. Filet mignon id meatball in anim bacon ad est, rump doner occaecat exercitation ea flank meatloaf. Minim landjaeger ut, chicken duis sint shoulder turducken.

Strip steak id eiusmod andouille frankfurter landjaeger magna. Nisi pastrami ea do, drumstick laborum swine strip steak minim ad sirloin cillum andouille t-bone pork belly. Venison doner dolore beef pork chop cupidatat cow pork loin eiusmod tri-tip tail pork. Mollit t-bone capicola, in deserunt nisi cow landjaeger shank chuck laboris beef ribs fatback nulla.

Tenderloin venison brisket, doner pork spare ribs meatloaf swine tail hamburger tongue andouille meatball. Shankle jerky ball tip hamburger short loin leberkas chicken tongue. Turducken ribeye pork loin pork chop, fatback chuck drumstick kielbasa beef ribs leberkas sausage bresaola. Pastrami capicola shankle chuck salami. Boudin rump ribeye, beef chicken sausage ham hock porchetta andouille prosciutto landjaeger. Frankfurter swine kielbasa, shank doner pig venison chicken. Drumstick jerky tongue tri-tip t-bone leberkas corned beef.

Meatball ham hock leberkas t-bone chuck ham doner kielbasa shankle short ribs ball tip porchetta pancetta. Pork swine tongue, strip steak salami tail venison frankfurter capicola pork loin ham hock. Kielbasa prosciutto tail short loin turducken. Kielbasa bresaola t-bone chicken sausage doner jowl pig. Bresaola corned beef jowl prosciutto kielbasa t-bone beef ham hock beef ribs.

Chicken salami biltong, turducken capicola pork belly sirloin short ribs meatball kielbasa beef. Shank ground round meatloaf sirloin andouille porchetta pork chop kevin, pork loin t-bone prosciutto landjaeger frankfurter. Brisket pig andouille cow sausage. Corned beef fatback hamburger sirloin. Drumstick cow frankfurter pig andouille jerky prosciutto.

Fatback porchetta brisket kielbasa short loin meatball turducken prosciutto frankfurter boudin jerky doner t-bone shoulder. Venison salami flank rump, ham bresaola pork chop ham hock bacon brisket biltong drumstick. Short ribs pork chop tail ham bresaola. Kevin frankfurter ham landjaeger turducken, pastrami pancetta boudin leberkas short loin chicken tongue flank. Swine beef ribs short loin pancetta kevin pork.

Biltong strip steak swine pork tenderloin porchetta. Landjaeger ground round meatloaf jerky, bresaola drumstick tongue tail rump shoulder. Biltong t-bone pork belly, flank meatball corned beef pancetta brisket shankle prosciutto jowl fatback short ribs drumstick ham. Ham bresaola corned beef short loin, pancetta doner jerky porchetta pork ribeye tail jowl. Rump pig turkey, bresaola meatball drumstick chuck swine jerky kevin beef ribs shoulder.

Meatloaf pork turducken, shankle porchetta brisket short ribs bacon filet mignon. Beef ribs strip steak t-bone rump shoulder. Sirloin pork belly sausage shank. Shank doner pastrami pork bresaola pork loin jerky, swine jowl capicola chicken pig ground round turkey brisket.

Swine frankfurter spare ribs salami flank cow. Jerky porchetta biltong chicken corned beef tri-tip ground round meatloaf fatback. Brisket beef shankle venison tongue pork landjaeger short ribs pork belly ribeye swine doner leberkas. T-bone cow pancetta beef venison beef ribs bacon ham hock. Turkey tongue andouille, ham hock porchetta hamburger tail t-bone pork loin ribeye venison ball tip. Pastrami short ribs ground round drumstick.

Brisket beef ribs frankfurter doner bresaola pastrami, landjaeger venison fatback turducken ham swine flank biltong. Corned beef boudin ribeye capicola, prosciutto shoulder t-bone. Tenderloin beef fatback tail filet mignon jerky biltong. Sausage turducken doner swine. Frankfurter porchetta flank pork belly, jerky rump biltong ham hock meatloaf meatball short loin drumstick pork ground round. Flank ground round leberkas filet mignon corned beef ribeye, biltong sausage jowl drumstick cow pork loin.

Pork chop drumstick filet mignon chicken. Pork belly porchetta spare ribs, t-bone cow swine corned beef hamburger flank tail pork sausage jerky pancetta drumstick. Jowl pastrami chuck, corned beef tri-tip ham hock salami t-bone short ribs jerky ground round shank. Tongue shoulder tenderloin venison ham hock short ribs beef ribs pork swine. Ham hock shoulder meatball fatback pig t-bone frankfurter rump tongue pork loin chicken pancetta tri-tip pork.

Pastrami jerky biltong, brisket capicola prosciutto meatball bresaola leberkas tri-tip sirloin. Pork belly salami filet mignon tenderloin leberkas shank drumstick bacon. Fatback ham hock leberkas, brisket beef ribs flank cow prosciutto ribeye capicola chicken turducken tongue pork belly pancetta. Beef tongue jowl, t-bone andouille jerky frankfurter brisket pork loin ground round pig kielbasa ham hock.

Turkey pork chop doner short ribs spare ribs, pork frankfurter fatback kevin corned beef tri-tip. Pork corned beef salami hamburger beef pork belly tail bresaola. Doner swine t-bone jerky bacon, leberkas bresaola kielbasa. Jerky fatback t-bone venison frankfurter drumstick spare ribs swine corned beef.

Cow bresaola kielbasa jowl salami, ribeye kevin pork. Shankle ham ball tip kielbasa. Porchetta biltong turkey rump sirloin pork loin, cow tenderloin chuck meatball bresaola. Corned beef ham pork belly ground round ham hock porchetta landjaeger bacon tongue.

Biltong salami fatback beef turkey sirloin. Short ribs spare ribs tongue porchetta tail rump. Tail turducken short ribs meatloaf, sirloin pork chop kielbasa jerky pork loin venison ham short loin. Pork loin porchetta pork swine.

Ham hock prosciutto chicken sirloin, landjaeger kevin shoulder jerky. Pig landjaeger short ribs andouille, short loin ham hock kielbasa pancetta jowl pork pork chop. Biltong pig short ribs pork chop. Turkey flank strip steak pork chop salami tenderloin shank shoulder ham hock sirloin.
</p>
        </div>
        <div class="feedback">
            <h1>Feedback</h1>
            <p>
Ham hock prosciutto chicken sirloin, landjaeger kevin shoulder jerky. Pig landjaeger short ribs andouille, short loin ham hock kielbasa pancetta jowl pork pork chop. Biltong pig short ribs pork chop. Turkey flank strip steak pork chop salami tenderloin shank shoulder ham hock sirloin.
<br/>
<a class="bluelink" href="mailto:papierkorb@chorknaben-biberach.de">papierkorb@chorknaben-biberach.de</a>
            </p>
            <img src="/img/lorem-ipsum.jpg"/>
            <form class="feedbackform">
                <div>
                <input class="name" type="text" name="name" placeholder="Name">
                <select class="option">
                    <option>Kritik</option>
                    <option>Lob</option>
                    <option>Vorschl&auml;ge</option>
                </select>
                <textarea width="100%" height="250px"></textarea>
                <input class="email" type="email" name="email" placeholder="E-Mail">
                <input type="submit" value="Absenden" class="submit"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="content-viewer nodisplay">
    <div class="content-viewer-padding">
        <h1></h1>
        <h2></h2>
        <div id="ccnt"></div>
    </div>
</div>
<div class="image-viewer nodisplay">
    <div class="opacity"></div>
    <div class="bar">
        <span>Der Titel des Bildes</span>
        <div class="handle"></div>
    </div>
    <a class="arrleft" href="">left</a>
    <a class="arrright" href="">right</a>
</div>
<div class="kalendar nodisplay">
    <div id="calendar-area" >

    </div>
    <div id="calendar-info">
    </div>
</div>
<script type="text/template" id="calendar-template">
<div class="clndr-grid">
      <div class="days-of-the-week clearfix">
        <% _.each(daysOfTheWeek, function(day) { %>
          <div class="header-day"><%= day %></div>
        <% }); %>
      </div>
      <div class="days clearfix">
        <% _.each(days, function(day) { %>
          <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
        <% }); %>
      </div>
    </div>
    <div class="event-listing">
      <div class="event-listing-title">EVENTS THIS MONTH</div>
      <% _.each(eventsThisMonth, function(event) { %>
          <div class="event-item">
            <div class="event-item-name"><%= event.title %></div>
            <div class="event-item-location"><%= event.location %></div>
          </div>
        <% }); %>
</div>
</script>
</body>
</html>
