div.waypoint{
    position:absolute;
    left:133px;
    top:150px;
    font-family: 'Exo 2', sans-serif;
}

#uberuns{
    min-height:4000px;
}

#waypoint-1{
    top:714px;
}

#scroll-upper{
    position:absolute;
    left:133px;
    top:155px;
    width:64px;
    background-image: url(../img/uberuns-connectorbg.png);
}

div.waypoint img {
    float:left;
    display:block;
    position:relative;
}

div.wtitle{
    white-space: nowrap;
    line-height: 64px;
    position: relative;
    left: 30px;
    font-size: xx-large;
    font-weight: 900;
}

div.wimages{
    position:relative;
    left:-133px;
    width:300%;
    height:200px;
    background-color:rgb(199,199,199);
    -webkit-box-shadow: 7px 1px 5px 0px rgba(48, 50, 50, 0.75);
    -moz-box-shadow:    7px 1px 5px 0px rgba(48, 50, 50, 0.75);
    box-shadow:         7px 1px 5px 0px rgba(48, 50, 50, 0.75);
}

/*img.left{
    left:-310px;
}

img.middle{
    left:-220px;
}

img.right{
    left:-160px;
}*/
.wimages div{
    float:left;
    display:block;
    position:relative;
    width:450px;
    height:200px;
}

div.left{
    left:-310px;
}
.left img,.middle img{
    display:block;
}
div.middle{
    left:-220px;
}
div.right{
    left:-160px;
    top:-200px;
}
.overlay{
    top:200px;
    z-index:3;
    background:
        -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(199,199,199,1));
    background:
        -moz-linear-gradient(left, rgba(255,255,255,0), rgba(199,199,199,1));
    background:
        -o-linear-gradient(left, rgba(255,255,255,0), rgba(199,199,199,1));
    background:
        -ms-linear-gradient(left, rgba(255,255,255,0), rgba(199,199,199,1));
    background:
        linear-gradient(left, rgba(255,255,255,0), rgba(199,199,199,1));
}

div.wbody{
    position: relative;
    /* see title + 64px for img */
    left: 94px;
    top:15px;
    max-width:500px;
}

#waypoint-0{

}

.connector{
    /*line width 4px*/
    position:absolute;
    left:0;
    top: 60px;
    background-image: url(../img/uberuns-connectorbg.png);
    width: 64px;
}

.h500{
    height:500px;
}


